.section-multilingual-branding {
	.mainlogo-link, .mainlogo-img {
		max-width: 100%;
		display: block;
	}
	.icons {
		text-align: right;
		position: absolute;
		bottom: 50% !important;
		right: 1px !important;
		line-height: 20px;
		height: 24px;
		a {
			opacity: 0.5;
		}
	}
}